<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="base :: header"></th:block>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="base :: nav"></div>


    <form class="box" th:action="@{/login}" method="post">
        <h2>Login</h2>
            <input type="text" name="username" placeholder="UserName"/>
        <div th:if="${param.error}">
            Invalid username or password
        </div>
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="login"/>
        <div th:if="${param.logout}">
            You have been logged out
        </div>
    </form>


</body>
</html>